html {
}

h1.title {
  color: #FFB6C1;
}

.columns {
  display: flex;
}

.columns > * {
  width: 100%;
}

img {
  width: 100%;
}

nav ul {
  list-style-type: none;
}

nav ul li {
    background: springgreen;
    border-radius: 10px;
}
