html {
}

h1.title {
  color: #FFB6C1;
}

.columns {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .columns {
    flex-direction: row;
  }
}

.columns > * {
  width: 100%;
}

img {
  width: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
    background: springgreen;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.characters img {
  max-height: 200px;
}
