* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  font-family: 'Dosis', sans-serif;
}

body {
  padding: 16px;
}

@media (min-width: 768px) {
  body {
    padding: 32px;
  }
}

h1 {
  color: #FFB6C1;
  font-size: 70px;
  margin: 0;
}

.columns {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .columns {
    flex-direction: row;
  }
}

.columns > * {
  width: 100%;
}

img {
  width: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
    background: springgreen;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

img.resize {
  max-height: 200px;
  object-fit: contain;
}
